{
  "accounts": [
    {
      "name": "Przykładowe konto Exchange",
      "email": "user@example.com",
      "username": "user@example.com",
      "password": "",
      "exchange_server": "mail.example.com",
      "domain": "example.com"
    }
  ],
  "main_account_index": 0
}
